################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/d2dapp/.vs/D2DApp/v16
/d2dapp/App1/Debug
/d2dapp/App2/Debug
/d2dapp/App3/Debug
*.obj
*.tlog
*.pch